// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Font awesome variables
$fa-font-path:        "../webfonts";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Admin lte css
@import '~admin-lte/dist/css/adminlte.css';

// Font awesome css
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";

//summernote
@import url('https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.css');

//Custom css
@import 'custom';